# This is a basic workflow to help you get started with Actions

name: Deploy to Raspberry Pi

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  IMAGE_NAME: rpi-cd-tutorial:$(date +%s)

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Create a Docker image
      - name: Create a docker image
        run: |
          cd src/
          docker build -t $IMAGE_NAME .

  deploy:
    runs-on: self-hosted
    needs: build
    
    steps:
      - name: Kill all running containers
        run: docker kill $(docker ps -q)
        
      - name: Run the docker image
        run: docker run -d -p4000:4000 $IMAGE_NAME
